In [ ]:
!pip install xmltodict
import xmltodict
from urllib.request import urlopen
import pandas as pd


file = urlopen('http://servicos.cptec.inpe.br/XML/capitais/condicoesAtuais.xml')
data = file.read()
file.close()
data = xmltodict.parse(data)
tabela = pd.DataFrame(data['capitais']['metar'])

Requirement already satisfied: xmltodict in /usr/local/lib/python3.7/dist-packages (0.12.0)

In [ ]:
# TABELA GERAL
print(tabela)

In [ ]:
#IRIRI
tabela.loc[(tabela.codigo == 'SBRJ'),['codigo'] ] = 'Rio de Janeiro'
tabela.loc[(tabela.codigo == 'SBSP'),['codigo'] ] = 'São Paulo'
tabela.loc[(tabela.codigo == 'SBVT'),['codigo'] ] = 'Vitoria - ES'
tabela.loc[(tabela.codigo == 'SBCF'),['codigo'] ] = 'Belo Horizonte - MG'
tabela.loc[(tabela.tempo_desc == 'PredomÃ­nio de Sol'),['tempo_desc']] = 'Predomínio de Sol'
tabela.loc[[2,20,23,25],["codigo", "temperatura"]]

Empty DataFrame
Columns: []
Index: [2, 20, 23, 25]